{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <header>
        <h1 class="h1-banner">Sandrine Coupart</h1>
        <img src="{{asset('assets/images/main-banner.jpg')}}" alt="Main banner home page, spaghetti and tomato">
    </header>

    <section class="section-services">
        <h2>Mes services</h2>
        <div>
            <article class="illustration">
                <img src="{{asset('assets/images/services-illustration.jpg')}}" alt="article illustration">
            </article>
            <article class="content">
            <p>
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Suspendisse fringilla blandit consequat. Cras pretium congue est vel posuere. 
                   Curabitur a risus id turpis egestas pretium blandit quis metus. 
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Pellentesque ut vulputate lacus. Vivamus at accumsan ligula. 
                   Donec volutpat, turpis quis efficitur tristique, dolor risus consequat tortor, non fringilla elit nulla vel eros. 
                   Cras in efficitur eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                   Morbi nec mollis dui, eu viverra risus. Cras ligula risus, interdum a euismod eget, placerat vel risus. 
                </p>
                <p>
                    Nulla et finibus lectus. Fusce urna tortor, imperdiet quis arcu quis, suscipit consectetur augue. 
                    Suspendisse tempus enim massa, et facilisis justo elementum nec. 
                    Cras cursus turpis eget dapibus sollicitudin. Suspendisse accumsan vulputate urna id iaculis. 
                    Mauris at porta diam. Maecenas feugiat felis ut dui dapibus malesuada. 
                    Duis at leo congue, lobortis urna non, maximus lectus. 
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </article>
        </div>
    </section>

    <section class="about-me">
        <h2>A propos</h2>
    </section>
</main>
{% endblock %}
