@import 'menu'
@import 'colors'

body
    background-color: rgb(255, 255, 255)
    margin: 0
    width: 100%

h1
    color: $white
    font-family: 'Caveat', 'sans-serif'
    font-size: 5rem
    margin: 2rem
    text-align: center
    width: 100%

main
    section
        position: relative
        max-height: 700px // Defines the maximum height to stop the images to take up too much height of the screen
        overflow: hidden
        margin: 0
        h1.h1-banner
            color: $white
            position: absolute
            top: 2rem
        img
            width: 100%
            aspect-ratio: auto
        article.illustration
            display: none
    section.section-services
        background-color: $dark-green
        margin: 0

@media screen and (min-width: 800px)
    main
        section
            article.illustration
                display: block
                max-width: 33%
